.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    flex: 0;
}

.navbar-brand {
    color: lightgreen;
    font-weight: bold;
}

.navbar-brand:hover {
    color: darkgreen;
    background-color: lightgreen;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: lightgreen;
    flex: 0;
}