.body {
    /* background-color: lightgreen; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: lightgray;
    flex: 0;
    /* align-self: stretch; */
    width: 100vw;

    padding-left: 1.5em;
    padding-right: 1.5em;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0 2em;
    font-weight: bold;
}

.navbar-brand {
    color: darkgreen;
    font-weight: bold;
}

.navbar-brand:hover {
    color: lightgreen;
    text-shadow: 0px 0px 10px black;
}

main {
    /* background-color: gray; */

    flex: 1;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: lightgray;
    flex: 0;

    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
}