* {
    /*this is pretty much a placeholder for now*/
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.card {
    width: 500px;
    background-color: lightgreen;
}

div.card-body {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#submit-btn {
    align-self: center;
    background-color: darkslategray;
}
